header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.play-again {
    text-decoration: none; 
    font-size: 2em;
    padding: 10px 30px;
    background-color: $btn-play-again;
    border-radius: 15px;
    border: 2px solid $btn-border;
    color: $btn-text;
    margin-top: 35px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    // transform: translateY(-50%);
}