.start-cont {
    @include content-middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 50px;
    }


    .btn {
        font-size: 20px;
        padding: 20px;
        width: 70%;
    }
}
