$titlesfont: 'Exo 2', sans-serif;
$pfont: 'Share Tech Mono', monospace;

$bodybgpicture: 'space-bg.jpg';

$h1color: white;
$textcolor: white;
$btn-start: #382753;
$btn-border: #145051;
$btn-text: #3c7979;
$btn-play-again: #1f3e5a;
$board-border: #3c7979;
$board-bg: #130d1d;
$board-lines: #295479;

$page-transition: transform 1.2s ease-out;
